.MessageInputSectionWrapper{
    position: sticky;
    bottom: 0px;
    padding: 0.7rem 0.5rem;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #cdd2d7;
}

.MessageInputSectionWrapper.light{
    background-color: #cdd2d7;
}

.MessageInputSectionWrapper.dark{
    background-color: #4c4e4f;
}

.InputBox{
    resize: none;/*this is a textarea style attribute*/
    height: 3rem;
    width: 100%;
    border: 1px solid var(--primary);
    background-color: white;
    box-shadow: inset 0px 0.2rem 0.2rem rgba(0,0,0,0.2);
    transition: height 0.1s linear;
    box-sizing: border-box;
}

.InputBox.light{
    background-color: white;
}

.InputBox.dark{
    background-color: rgb(121, 122, 125);
}

.InputBox:focus{
    height: 5rem;
}

.InputBox.light::placeholder{
    color: #7d7d7d
}

.InputBox.dark::placeholder{
    color: #d7d5d5
}

.sendButton{
    vertical-align:middle;
    width: fit-content;
    height: fit-content;
}