@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
  --backgroundImg: url("./assets/general_images/doodle_background.jpg");
  --primary: #ffc731;
  --secondary: white;
  --text: #191818;
  --accent: #ee8ed8;
  --accent2: #c6e1ce;
  --muted: #cdd2d7;
}

body{
  margin: 0px;
  font-family: "Nunito", sans-serif;
  background-image: var(--backgroundImg);
  background-size: contain;
}

p{
  margin: 0.2rem 0rem;
  font-size: small;
  color: var(--text);
}

h1{
  margin: 0.7rem 0rem;
  margin-top: 0rem;
  font-size: larger;
  color: var(--text);
}

h2{
  margin: 0.4rem 0rem;
  margin-top: 0rem;
  font-size: medium;
  color: var(--text);
}

button{
  font-size: small;
}


::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track{
  background-color: rgb(228, 231, 234);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(166, 171, 174);
  border: 2px solid rgb(228, 231, 234);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(148, 152, 154);
}