.button{
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    border-bottom: 0.2rem solid rgb(172, 172, 172);
    background-color: var(--secondary);
    color: #191818;
    font-size: small;
    margin-left:0.6rem;
}

.button.light{
    border-bottom: 0.2rem solid rgb(172, 172, 172);
    background-color: var(--secondary);
}

.button.dark{
    border-bottom: 0.2rem solid rgb(203, 148, 9);
    background-color: var(--brandcolor);
}

.button>div{
    display: inline-block;
    vertical-align: top;
    transform: translateY(10%);
}

.button:hover{
    cursor: pointer;
}

.button:active{
    border: none;
    transform: translateY(0.2rem);
}

